<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainF">
		<title>CHIP8EMU</title>
		<centered>1</centered>
		<icon>D:\Projects\wxWidgets\Test\MyTest\C8.ico</icon>
		<size>640,400</size>
		<bg>#000000</bg>
		<minsize>640,400</minsize>
		<maxsize>640,400</maxsize>
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="Custom" name="ID_SFMLCANVAS" subclass="Canvas" variable="SFMLCanvas" member="yes">
			<creating_code>$(THIS) = new $(CLASS)((wxWindow*)$(PARENT),$(ID),$(POS),$(SIZE),&amp;m__buffer/*,$(STYLE),wxDefaultValidator,$(NAME)*/);</creating_code>
			<include_file>include/wxSFMLCanvas.h</include_file>
			<local_include>1</local_include>
			<style></style>
			<size>640,400</size>
			<bg>#000000</bg>
			<minsize>640,400</minsize>
			<maxsize>640,400</maxsize>
		</object>
		<object class="wxGauge" name="ID_GAUGE1" variable="Gauge1" member="yes">
			<pos>0,464</pos>
			<size>640,16</size>
			<hidden>1</hidden>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="yes">
			<object class="wxMenu" variable="Menu1" member="yes">
				<label>File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
					<label>Open...</label>
					<handler function="OnMenuFileOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEMCLOSE" variable="MenuItemClose" member="yes">
					<label>Close</label>
					<enabled>0</enabled>
					<handler function="OnMenuCloseSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
					<label>Quit</label>
					<handler function="OnMenuQuitSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="yes">
				<label>Help</label>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
					<label>About</label>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<default_dir>.</default_dir>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN|wxFD_FILE_MUST_EXIST</style>
		</object>
	</object>
</wxsmith>
